*{
  all: unset;
}

.eww_bar {
  padding: 0 8px;
  margin: 0;
}

.works {
  padding: .2rem .7rem .2rem .7rem;
}

.works button {
  border: none;
  margin: .4rem 0 .4rem 0;
  color: #7e9cd8;
}

.works button.empty {
  color: #727169;
}

.time {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
  color: #7e9cd8;
  font-family: "Hack NF";
}

.bottom .github {
  font-size: 3em;
  color: #7e9cd8;
}

.bottom .github.reviews {
  color: #FF9E3B;
}

.bottom button {
  font-size: 3em;
  margin-bottom: 15px;
  border: none;
  color: #7e9cd8;
}

.bottom button.muted {
  color: #D27E99;
}

